.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font: inherit;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--font-dark);

  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: var(--secondary-color-600);
  padding: 0.35rem 0.85rem;

  cursor: pointer;
  // prettier-ignore
  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  &:hover,
  &:focus {
    transition: none;
    background-color: var(--secondary-color-300);
    // color: var(--font-light);
  }

  &--outlined {
    background-color: var(--secondary-color-transparent-500);
    border-color: var(--secondary-color-200);
    color: currentColor;

    &:hover,
    &:focus {
      border-color: var(--secondary-color-600);
      background-color: var(--secondary-color-transparent-200);
    }
  }
}
