:root {
  --primary-color-100: #ffd2fc;
  --primary-color-200: #ffc2fb;
  --primary-color-300: #ffadfa;
  --primary-color-400: #ffadfa;
  --primary-color-500: #ff99f8;
  --primary-color-600: #ff85f7;

  --primary-color-transparent-200: #ff85f720;
  --primary-color-transparent-500: #ff85f750;

  --secondary-color-100: #ddfff7;
  --secondary-color-200: #d6fff5;
  --secondary-color-300: #c2fff0;
  --secondary-color-400: #99ffe6;
  --secondary-color-500: #adffeb;
  --secondary-color-600: #62ffd8;

  --secondary-color-transparent-200: #85ffe020;
  --secondary-color-transparent-500: #85ffe050;

  --font-dark: #231b1b;
  --font-light: #ebfffa;

  // --bg-dark: #2e2323;
  --bg-dark: #312929;
  --bg-light: #f1fffc;
}
